header {
    background-color: green;
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC;
    display: flex;
}

header .logo {
    display: block;
    background-image: url('../images/logo.png');
    background-position: center;
}
