.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDD;
    display: flex;
    flex-direction: column;
}

.locations h3,
.locations h4 {
    margin-left: 30px;
    
}

.locations h3 {
    font-weight: 600;
    margin-top: 20px;
    
}

.locations h4 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .filters .locations {
        display: none;
    }
    .filters .locations:first-of-type {
        display: block;
        width: 50%;
    }   
}