.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3,
h4 {
    margin-left: 30px;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 400;
    font-size: 14px;
}